@page "/blazoremailtransactions"

@inherits EmailTransactionsBase;
@using RestClient.Net;
@using Models;
@using FxaPortal.Services;
@using Blazorise.Snackbar;

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>
                    Email Transactions
                </CardTitle>
            </CardHeader>
            <CardBody>
                <DataGrid TItem="EmailTransaction"
                          Data="emailTransactionList"
                          ReadData="@OnReadData"
                          @bind-SelectedRow="@selectedEmailTransaction"
                          TotalItems="totalEmailTransactions"
                          Filterable="true"
                          PageSize="20"
                          Sortable="true"
                          Striped="true"
                          Bordered="true"
                          Responsive="true"
                          RowClicked="@OnRowClicked"
                          SelectedRowStyling="@OnSelectedRowStyling"
                          ShowPager="true"
                          PageChanged="@OnPageChanged">
                    <LoadingTemplate>
                        <div class="box">
                            <progress class="progress is-small is-primary" max="100" />
                        </div>
                    </LoadingTemplate>
                    <DataGridColumns>
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.EmailId)" Caption="#" Displayable="false" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.DocumentId)" Caption="Document Id" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.EmailAddress)" Caption="Email" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.Environment)" Caption="Environment" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.PolicyNumber)" Caption="Policy Number" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(EmailTransaction.ScheduleRunDate)" Caption="Schedule Run Date">
                            <DisplayTemplate>
                                @{
                                    @(context.ScheduleRunDate.Value.ToShortDateString())
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(SmsTransaction.ScheduleRunTime)" Caption="Schedule Run Time">
                            <DisplayTemplate>
                                @{
                                    @(string.Format("{0:hh\\:mm}", TimeSpan.FromMinutes(context.ScheduleRunTime.HasValue ? (double)context.ScheduleRunTime : 0 )))
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(SmsTransaction.ActualRunDate)" Caption="Actual Run Date">
                            <DisplayTemplate>
                                @{
                                    @(context.ActualRunDate.Value.ToShortDateString())
                                }
                                </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(SmsTransaction.ActualRunTime)" Caption="Actual Run Time">
                            <DisplayTemplate>
                                @{
                                    @(string.Format("{0:hh\\:mm}", TimeSpan.FromMinutes(context.ActualRunTime.HasValue ? (double)context.ScheduleRunTime : 0 )))
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(SmsTransaction.Response)" Caption="Response" />
                        <DataGridColumn TItem="EmailTransaction" Field="@nameof(SmsTransaction.Status)" Caption="Status" />
                    </DataGridColumns>
                </DataGrid>
            </CardBody>
        </Card>
    </Column>
</Row>

<Snackbar @ref="snackbar" Color="SnackbarColor.Success">
    <SnackbarBody>
        Save was succesful
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="snackbarXmlWarn" Color="SnackbarColor.Warning">
    <SnackbarBody>
        Metadata is not valid XML
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="snackbarJsonWarn" Color="SnackbarColor.Warning">
    <SnackbarBody>
        Metadata is not valid Json
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="snackbarFail" Color="SnackbarColor.Danger">
    <SnackbarBody>
        Save has failed
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="snackbarReadFail" Color="SnackbarColor.Danger">
    <SnackbarBody>
        Failed to read the data
    </SnackbarBody>
</Snackbar>
